<header id="mainheader">
  <nav>
    <ul>
      <li class="logo">
        <img src="assets/cake.svg" height="55" alt="Logo" />
      </li>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/tous" routerLinkActive="active">Tous</a>
      </li>
      <!-- Add Sign In and Login buttons -->
      <li class="auth-buttons">
        <a routerLink="/sign-in" class="button">Sign In</a>
        <a routerLink="/sign-up" class="button sign-up-btn">Sign Up</a>
      </li>
    </ul>
  </nav>
</header>
