<main class="container">

    <h1 style="font-size:35px;color:#a593c2">Bienvenue à notre boutique </h1>

    <h2>Notre histoire</h2>

    <p style="text-align: left;">

        Pendant de nombreuses années, Cake's Shop a préparé les gâteaux les plus délicieux en Tunisie.
        En 2013, nous avons ouvert notre première boutique dans une petite rue charmante au cœur de
        Tunis.
        Les gens du monde entier sont tombés amoureux de nos moelleux gâteaux, nos cheesecakes divins et
        nos tartes aux
        pommes épicées...
        La boutique a rapidement connu un grand succès.

        <br> En 2015, pas moins de 100 gâteaux étaient vendus chaque jour, et Cake's Shop a déménagé
        dans un espace plus grand
        pour répondre à la demande croissante.
        Suite à de nombreuses demandes, il est devenu évident que la prochaine étape était de permettre
        à chacun de
        commander nos gâteaux depuis chez eux, et ce, de n'importe où dans le monde.
        Vous découvrez maintenant le résultat de ce projet : notre propre boutique en ligne, vous
        permettant de
        commander les délicieux gâteaux de Cake's Shop à tout moment !
    </p>
    <figure>
        <img src="./assets/cakes.jpg" width="600" alt="La vitrine de notre boutique" />
        <figcaption>Vitrine de la boutique Cake's shop</figcaption>
    </figure>
    <hr>
    <section id="promos">
        <h3 style="font-family:verdana;">&nbsp;Nos promotions hebdomadaire</h3>
        <h4>Cheese cake</h4>
        10dt - 4 personnes<br>
        <img src="../../assets/cheesecake1.jpg" width="500" alt="Cheesecake avec caramel" height="300" />
    </section>
</main>